body {
    margin: 0;
}

.titleBackground {
    margin-top: 0;
    background-color: black;
    height: 750px;

}

.titleImage {
    top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: titleAnimation 12s cubic-bezier(.75,0,.25,1), titleLoop 2.4s cubic-bezier(.75,0,.25,1) 12s infinite;
    /* animation-name: titleAnimation;
    animation-duration: 12s; */ 
    /* animation-timing-function:cubic-bezier(.75,0,.25,1); */
}

.titleImg {
    height: 228px;
    width: 511px;
}

#playButton {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    border: 2px solid #3a483a;
    color: #3a483a;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes titleAnimation {
    0% {top: 375px;}
    5% {top: 350px;}
    10% {top: 350px;}
    15% {top: 325px;}
    20% {top: 325px;}
    25% {top: 300px;}
    30% {top: 300px;}
    35% {top: 275px;}
    40% {top: 275px;}
    45% {top: 250px;}
    50% {top: 250px;}
    55% {top: 225px;}
    60% {top: 225px;}
    65% {top: 200px;}
    70% {top: 200px;}
    75% {top: 175px;}
    80% {top: 175px;}
    85% {top: 150px;}
    90% {top: 150px;}
    95% {top: 125px;}
    100% {top: 125px; }
}

@keyframes titleLoop {
    0% {top: 125px;}
    25% {top: 150px;}
    50% {top: 150px;}
    75% {top: 125px;}    
    100% {top: 125px;}
}

.aboutMe {
    padding-inline: 100px;
    background-color: #3a483a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    list-style-position: inside;
}

.information {
    color: white;
    text-align: start;
    list-style-position: inside;
}

.btmPrt {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.prtInfoList { 
    margin: 10px;
    display: flex;
    flex-direction: row;
}

@font-face {
    font-family: Chixa;
    src: url(ChixaDemiBold.ttf);
}

.passport {
    width: 500px;
    background-color: rgba(238,228,221,255);
    border: 6px solid rgb(100, 50, 4);
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-family: Chixa;
}

.topPrt > img{
    width: 500px;
}

.passport{
    color: rgb(56, 45, 29);
}

#uc {
    color: rgb(56, 45, 29);
}

.prtPic {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prtPic > img {
    height: 200px;
}

.prtInfoUl, .prtInfoLi {
    margin: 10px;
}

.prtInfoLi > h3 {
    padding: 2px;
    display: flex;
    justify-self: start;
}

#prtUl {
    padding: 2px;
    background-color: rgb(187, 176, 156);
    color: rgba(238,228,221,255);
}

.prtInfo {
    margin-right: 30px;
}
