body {
    margin: 0;
}

.titleBackground {
    margin-top: 0;
    background-color: black;
    height: 100vh;

}

.titleImage {
    top: 18.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: titleAnimation 19.2s cubic-bezier(.75,0,.25,1), titleLoop 2.2s cubic-bezier(.75,0,.25,1) 19.8s infinite;
    /* animation-name: titleAnimation;
    animation-duration: 12s; */ 
    /* animation-timing-function:cubic-bezier(.75,0,.25,1); */
}

.titleImg {
    height: 339px;
    width: 760px;
}

#playButton {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    border: 2px solid #3a483a;
    color: #3a483a;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes titleAnimation {
    0% {top: 100vh;}
    3% {top: 95.2vh;}
    6% {top: 95.2vh;}
    9% {top: 90.4vh;}
    12% {top: 90.4vh;}
    15% {top: 85.6vh;}
    18% {top: 85.6vh;}
    21% {top: 80.8vh;}
    24% {top: 80.8vh;}
    27% {top: 76.0vh;}
    30% {top: 76.0vh;}
    33% {top: 71.2vh;}
    36% {top: 71.2vh;}
    39% {top: 66.4vh;}
    42% {top: 66.4vh;}
    45% {top: 61.6vh;}
    48% {top: 61.6vh;}
    51% {top: 56.8vh;}
    54% {top: 56.8vh;}
    57% {top: 52.0vh;}
    60% {top: 52.0vh;}
    63% {top: 47.2vh;}
    66% {top: 47.2vh;}
    69% {top: 42.4vh;}
    72% {top: 42.4vh;}
    75% {top: 37.6vh;}
    78% {top: 37.6vh;}
    81% {top: 32.8vh;}
    84% {top: 32.8vh;}
    87% {top: 28.0vh;}
    90% {top: 28.0vh;}
    93% {top: 23.2vh;}
    96% {top: 23.2vh;}
    100% {top: 18.4vh;}
}

@keyframes titleLoop {
    0% {top: 18.4vh;}
    25% {top: 22vh;}
    50% {top: 22vh;}
    75% {top: 18.4vh;}    
    100% {top: 18.4vh;}
}

.aboutMe {
    padding-inline: 100px;
    background-color: #3a483a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    list-style-position: inside;
}

.information {
    color: white;
    text-align: start;
    list-style-position: inside;
}

.btmPrt {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.prtInfoList { 
    margin: 10px;
    display: flex;
    flex-direction: row;
}

@font-face {
    font-family: Chixa;
    src: url(ChixaDemiBold.ttf);
}

.passport {
    width: 500px;
    background-color: rgba(238,228,221,255);
    border: 6px solid rgb(100, 50, 4);
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-family: Chixa;
}

.topPrt > img{
    width: 500px;
}

.passport{
    color: rgb(56, 45, 29);
}

#uc {
    color: rgb(56, 45, 29);
}

.prtPic {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prtPic > img {
    height: 44vh;
}

.prtInfoUl, .prtInfoLi {
    margin: 10px;
}

.prtInfoLi > h3 {
    padding: 2px;
    display: flex;
    justify-self: start;
}

#prtUl {
    padding: 2px;
    background-color: rgb(187, 176, 156);
    color: rgba(238,228,221,255);
}

.prtInfo {
    margin-right: 30px;
}
